body{
    background-image: url("https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/6217a5a3d58471ba1344c804_21-modern-small-business-website-examples.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
.MainDiv{
  position: relative;
}